/* div{background-color: aquamarine;} */
#first{text-decoration: overline underline line-through blue;}
#second{text-decoration:line-through red;}
#third{text-decoration: overline;}
#force{text-decoration: underline;}

